{% extends "base.html" %}

{% block content %}

<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">PreSales Hub</h1>
            <hr class="my-4">
            <p>Use the navigation bar at the top to explore more features.</p>
                <a class="btn btn-primary btn-lg" href="{{ url_for('all_prospects') }}" role="button">Prospects & Clients</a>
                <a class="btn btn-primary btn-lg" href="https://www.google.com" role="button">Learning Hub</a>
                <a class="btn btn-primary btn-lg" href="https://www.google.com" role="button">PreSales Environments</a>
        </div>
        <!-- Search -->
        <!-- <div class="search-container mx-auto">
            <form class="" action="{{ url_for('search') }}" method="POST">
                {{ search_form.hidden_tag() }}
                <div class="input-group">
                    {{ search_form.query(**{'class': 'form-control', 'type': 'search', 'placeholder': 'Search', 'aria-label': 'Search', 'autocomplete': 'off'}) }}
                    <span class="input-group-btn">
                        {{ search_form.submit(**{'class': 'btn btn-outline-success'}) }}
                    </span>
                </div>
            </form>
            <div id="search-results"></div>
        </div> -->
    </div>

</body>

{% endblock %}